* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  padding-top: 20px;
}

.header img {
  width: 60%;
}

.header i {
  font-size: 18px;
}
